!!! 5
%html
	%head
		%title= "Bartek going to München"
		%meta{ :name => "application-name", :content => "Grip" }
		%meta{ :name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" }

		%link{ :rel => "stylesheet", :href => "/css/images.css", :media => "only screen and (-webkit-min-device-pixel-ratio:1)" }
		%link{ :rel => "stylesheet", :href => "/css/images-x2.css", :media => "only screen and (-webkit-min-device-pixel-ratio:2)" }

		%link{ :href => "/css/bootstrap.css", :media => "screen", :rel => "stylesheet" }
		%link{ :href => "/css/main.css", :rel => "stylesheet"}
		%link{ :href => "/css/type.css", :rel => "stylesheet"}
		%link{ :href => "/css/slider.css", :rel => "stylesheet"}

		%link{ :href => "/css/nav.css", :rel => "stylesheet"}
		%link{ :href => "/css/font.css", :rel => "stylesheet"}

		%script{ :src => "/js/jquery-1.9.1.min.js", :type => "text/javascript"}
		%script{ :src => "/js/jquery-ui.custom.min.js", :type => "text/javascript"}
		%script{ :src => "/js/modernizr.js", :type => "text/javascript"}
		%script{ :src => "/js/bootstrap.js", :type => "text/javascript"}

		%script{ :src => "/js/munchen.js", :type => "text/javascript"}
		%script{ :src => "/js/jquery.hammer.js", :type => "text/javascript"}


	%body{ "data-spy" => "scroll", "data-target" => "#navbar"}

		#navbar
			%nav.fixed
				%ul.nav
					%li
						%a{ :href => "#chapter1" }
							%div
								%span= "Ahoy!"
					%li
						%a{ :href => "#chapter2" }
							%div
								%span= "München"
					%li
						%a{ :href => "#chapter3" }
							%div
								%span= "Design"
					%li
						%a{ :href => "#chapter4" }
							%div
								%span= "Code"
					%li
						%a{ :href => "#chapter5" }
							%div
								%span= "Experience"

		%section#chapter1.orange.min-resize
			.container
				.row
					.span12
						.browser-frame
							.top-bar
								.circles
									.circle
									.circle
									.circle
								.address-bar
							.content
								.row-fluid
									.container-fluid
										.span12.pagination-centered
											%h1
												%span.white-on-orange
													%span.first-line
														I design & build
													%span.second-line
														web and mobile apps

								.row-fluid
									.container-fluid.pagination-centered
										.span6
											%h2 
												I'm Bartek, currently living in
											%div
												%img{ :src => '/images/img-london.png'}
											%h2.city
												%span.white-on-orange
													LONDON
											%h2
												working as senior
												%span.bold
													developer & designer,

										.span6.pagination-centered
											%h2
												but I'm relocating to
											%div
												%img{ :src => '/images/img-munchen.png'}
											%h2.city 
												%span.white-on-orange
													MÜNCHEN
											%h2
												I'm looking for job opportunity there.
					

		%section#chapter2.turquoise.resize.position-middle
			.container
				.row
					.span8.offset4.position
						%h1
							Why Bartek is going
							%br/
							to
							%span.orange-on-turquoise
								Munich?
						%h2 I moved to London led by the need of a new experience to build my career. While working here for 2.5 years as senior developer, on challenging projects for world leading companies I've decided to move back to central Europe.
						%h2 Munich - the place that is closer to things that I love and I'm missing: skiing, mountain biking and good weather!.

		%section#chapter3.yellow
			.container
				.row
					.span12
						%h1 Every digital project begins on paper
						%h2 Mockups are the lingua franca across all disciplines, and ensure the well-laid plans meet full fruition.
						%p Hitting on a design theme that will equally served both classic and modern style takes several rounds of iteration. In the end, it allows the brand entities to shine within their respective sections without overpowering the project as a whole.
				.row

					.span3
						%h2 Next step design.
						%p Wireframes, from a design perspective, are intentionally plain and nondescript. This allows the designer free reign to dream up the very best look and feel without feeling constrained by the wires’ prescriptions.

					.span9.tap
						%img{ :src => "/images/single-tap.png", :alt => ""}

					#before-after-slider.side-by-side.span9
						#slider.left.animate
							%div.mask
								%img{ :src => "/images/kiscard-wireframe-870.jpg", :alt => "" }
							%span.left-label Wireframe
							%span.right-label Design
						%img.right{ :src => "/images/kiscard-design-870.jpg", :alt => "" }
					:javascript

						var prevent_scroll_drag = true;

						function logEvent(ev) {
							if(!ev.gesture) {
								return;
							}
							var offset = $('#before-after-slider').offset();
							var value = ev.gesture['center'];

							value = value.pageX - offset.left;
							value = value * 100 / $('#before-after-slider > img').width()

							if (value > 100) {
								value = 100
							}
							$('#slider').width("" + value + "%");
						}

						var all_events = ['touch','release','hold','tap','dragstart','drag','dragend','dragleft','dragright','swipe'];

						var hammertime = Hammer($('#before-after-slider'), {
								prevent_default: true,
								no_mouseevents: false,
								prevent_default: true
							}).on(all_events.join(" "), logEvent);

		%section#chapter4.gray
			.container
				.row
					.span12
						%h1 Backend, ooooh yeah!!!
						%h2 I love to create apps using modern tenchnology.
					.span10.offset1							
						.editor
							.top_bar
								_button.sass
							.content
								.tab
									:erb
										require 'uri'<br/>

										class User < ActiveRecord::Base<br/>
									.tab
										:erb
											named_scope :not_deleted, :conditions => [ "users.deleted_at is null" ]<br/>
											enum_attr :title, %w(Mr Mrs Miss Ms Dr Prof)<br/>
											include Authentication<br/>

				.row
					.span12
						%h1 But you might ask 'what about the CSS'?
						%h2 Lots of developers strugling to write the CSS. I acctually love it. I easily write clean stylesheets. That might be object oriented, with a little help of compass, or pure CSS with quite good support for IE browsers.
					.span10.offset1
						.editor
							.top_bar
								_button.sass
							.content
								.tab
									:erb
										<span class="def">=fancy_button(<span class="dollar_value">$radius</span>: 9px, <span class="dollar_value">$color_start</span>: rgb(243, 243, 243), <span class="dollar_value">$color_stop</span>: rgb(233, 233, 233), <span class="dollar_value">$text_on_button</span>: <span class="attribute">inset</span>, $size: <span class="attribute">normal</span>, <span class="dollar_value">$disabled</span>: false)</span>
									.tab
										:erb
											<span class="attribute">border</span>: <span class="attribute">none</span><br/>
											+border-radius(<span class="dollar_value">$radius</span>)<br/>
											<span class="attribute">font-weight</span>: <span class="attribute">bold</span><br/>
											<span class="attribute">padding</span>: 7px 18px 6px 18px<br/>
											<span class="attribute">background-color</span>: <span class="dollar_value">$color_stop</span><br/>
											+linear-gradient(color-stops(<span class="dollar_value">$color_start</span>, <span class="dollar_value">$color_stop</span>))<br/>
											<span class="attribute">border-top</span>: 1px solid <span class="dollar_value">$color_start</span> - rgb(41, 41, 41)<br/>
											<span class="attribute">border-left</span>: 1px solid <span class="dollar_value">$color_start</span> - rgb(51, 51, 51)<br/>
											<span class="attribute">border-right</span>: 1px solid <span class="dollar_value">$color_start</span> - rgb(51, 51, 51)<br/>
											<span class="attribute">border-bottom</span>: 1px solid <span class="dollar_value">$color_stop</span> - rgb(50, 50, 50)<br/>
											+box-shadow([0 1px 0 0 $color_start + rgb(15, 15, 15) inset], [0 2px 2px 0px #d8d8d8])<br/>
											<span class="attribute">font</span>:<br/>
										.tab
											:erb
												<span class="attribute">size</span>: 1.8em<br/>
										:erb
											<span class="attribute">cursor</span>: pointer<br/>
											@if <span class="dollar_value">$size</span> == big<br/>
										.tab
											:erb
												<span class="attribute">font-size</span>: 18px<br/>
										:erb
											@else<br/>
										.tab
											:erb
												@if <span class="dollar_value">$size</span> == huge<br/>
											.tab
												:erb
													<span class="attribute">padding<span>: 15px 60px<br/>
													<span class="attribute">font-size</span>: 20px<br/>
											:erb
												@else<br/>
											.tab
												:erb
													@if <span class="dollar_value">$size</span> == bigger<br/>
												.tab
													:erb
														<span class="attribute">font-size</span>: 20px<br/>
														<span class="attribute">padding</span>: 10px 30px<br/>
												:erb
													@else
													.tab
													:erb
														<span class="attribute">font-size</span>: 13px<br/>
														<span class="attribute">font-weight</span>: normal<br/>
										:erb
											@if $text_on_button == outset<br/>
										.tab
											:erb
												<span class="attribute">color</span>: white<br/>
												+text-shadow( rgba(0,0,0, 0.6), 0px, 1px, 0px)<br/>
										:erb
											@else<br/>
										.tab
											:erb
												<span class="attribute">color</span>: #2c2527<br/>
												+text-shadow( rgba(255,255,255, 0.6), 0px, 1px, 0px)<br/>
										:erb
											<span class="attribute">text-decoration</span>: none<br/>
											&:hover<br/>
										.tab
											:erb
												+linear-gradient(color-stops(<span class="dollar_value">$color_start</span>, <span class="dollar_value">$color_start</span>))<br/>
												<span class="attribute">background</span>:<br/>
											.tab
												:erb
													<span class="attribute">color</span>: <span class="dollar_value">$color_start</span><br/>
										:erb
											@if <span class="dollar_value">$disabled</span> == true
										.tab
											:erb
												<span class="attribute">border</span>:<br/>
											.tab
												:erb
													<span class="attribute">top</span>: 1px solid <span class="dollar_value">$color_start</span><br/>
													<span class="attribute">left</span>: 1px solid <span class="dollar_value">$color_start</span><br/>
													<span class="attribute">right</span>: 1px solid $color_start<br/>
													<span class="attribute">bottom</span>: 1px solid $color_stop<br/>
											:erb
												-moz-box-shadow: 0 1px 0 0 $color_start + rgb(5, 5, 5) inset<br/>
												-webkit-box-shadow: 0 1px 0 0 $color_start + rgb(5, 5, 5) inset<br/>
												box-shadow: 0 1px 0 0 $color_start + rgb(5, 5, 5) inset<br/>
												-khtml-box-shadow: 0 1px 0 0 $color_start + rgb(5, 5, 5) inset<br/>
												+text-shadow(#D2D4D5, 0px, 1px, 0px)<br/>
												<span class="attribute">color</span>: #fff<br/>
												<span class="attribute">cursor</span>: not-allowed<br/>
												&:hover<br/>
											.tab
												:erb
													+linear-gradient(color-stops($color_start, $color_stop))<br/>

		%section#chapter5.dark-gray
			.container
				.row
					.span12.adjust
						.four-things
							Of course, you’re looking for a
							%span
								talented developer,
							someone who creates compelling content that connects with your target audience. You’re also looking for a savvy genius, someone who can
							%span
								analyse and iterate to improve.
							But you need much more than a coder. You need someone who can become an extension of your team, someone who can understand that
							%span
								beauty is not skin deep.
							This is why
							%span
								experience is everything.
				.row
					.span12.pagination-centered
						%img{ :src => '/images/face.png'}
						%p
							That's me!
				.row
					.span12.adjust
						%h1 I will use my experience to design yours.
						%h2 So far I've helped organisations radically improve their web & mobile applications and create exciting new digital products. I combine a unique lean approach with knowledge of human behaviour and the principles of user-centred design.
				.row
					.span12
						%p So far I've worked on projects for:
				.row-fluid
					.span4
						.logo
							%img{ :src => '/images/logos/logo-bbc-academy.png', :alt => "BBC Academy" }			
					.span4
						.logo
							%img{ :src => '/images/logos/logo-jaguar-landrover.png', :alt => "Jaguar LAND ROVER" }
					.span4
						.logo
							%img{ :src => '/images/logos/logo-bp-castrol.png', :alt => "BP Castrol" }
				.row-fluid
					.span4
						.logo
							%img{ :src => '/images/logos/logo-gsk.png', :alt => " Glaxo Smith Kline" }
					.span4
						.logo
							%img{ :src => '/images/logos/logo-tetrapak.png', :alt => "Tetra Pak" }
					.span4
						.logo
							%img{ :src => '/images/logos/logo-syngenta.png', :alt => "syngenta" }
				.row-fluid						
					.span4
						.logo
							%img{ :src => '/images/logos/logo-payango.png', :alt => "payango" }
					.span4
						.logo
							%img{ :src => '/images/logos/logo-jobmensa.png', :alt => "Jobmensa" }
					.span4
						.logo
							%img{ :src => '/images/logos/logo-vattenfall.png', :alt => "Vattenfall" }
				.row
					.span12
						%p Agencies & House software development that I worked for:

				.row-fluid
					.span3
						.logo
							%img{ :src => '/images/logos/logo-line.png', :alt => "LINE Communications" }
					.span3
						.logo
							%img{ :src => '/images/logos/logo-railslove.png', :alt => "Railslove" }
					.span3
						.logo
							%img{ :src => '/images/logos/logo-object-reload.png', :alt => "Object Reload" }
					.span3
						.logo
							%img{ :src => '/images/logos/logo-akra.png' }